# Set up the database

## Step 1: Establish a connection 

Open a new Jupyter notebook and import the MySQL Connector/Python API to establish a connection between Python and MySQL database. The code to establish a connection is given below. Use your own username and password when you are establishing a connection.

## Step 2: Create a cursor

Once the connection between Python and MySQL database is successfully established, you need a cursor object to communicate with MySQL. Create a cursor using the code given below:

In [1]:
import mysql.connector as connector

In [2]:
# Establish connection between Python and MySQL database via connector API
connection = connector.connect(
                             user="sqltools", # use your own
                             password="sqltools" # use your own
                             )
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

## Step 3: Create the database and set it for use
Now that you have a connection and a cursor, create a new database little_lemon_db using the code below.

## Step 4: Create tables
You now need tables so that you can insert the data. Use the following queries to create your table structure:

In [3]:
# If exist, drop the database first, and create again
try:
    cursor.execute("CREATE DATABASE little_lemon")
except:
    cursor.execute("drop database little_lemon")
    cursor.execute("CREATE DATABASE little_lemon")
print("The database little_lemon is created.\n")    

# Set little_lemon database for use 
cursor.execute("USE little_lemon")
print("The database little_lemon is set for use.\n")

# The SQL query for MenuItems table is: 
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)
print("MenuItmes table is created.\n")

# The SQL query for Menu table is:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Create Menu table
cursor.execute(create_menu_table)
print("Menu table is created.\n")

# The SQL query for Bookings table is:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table is created.\n")

# The SQL query for Orders table is:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

# The SQL query for Orders table is:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(20),
Role VARCHAR(20),
Address VARCHAR(250),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(20)
);"""

# Create employees table
cursor.execute(create_employees_table)
print("Employees table is created.\n")

# Confirm if the tables are created
print("Following tables are created in the little_lemon database.\n")
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

The database little_lemon is created.

The database little_lemon is set for use.

MenuItmes table is created.

Menu table is created.

Bookings table is created.

Orders table is created.

Employees table is created.

Following tables are created in the little_lemon database.

('bookings',)
('employees',)
('menuitems',)
('menus',)
('orders',)

## Step 5: Insert data
The tables are ready for you to insert the data. Use the following INSERT queries to populate your tables in the little_lemon_db database.

In [4]:
#*******************************************************#
# Insert query to populate "MenuItems" table is:
#*******************************************************#
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table is:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table is:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [5]:
print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitmes)
print("Total number of rows in MenuItem table: ", cursor.rowcount)
# Once the query is executed, you commit the change into the database 
connection.commit()

print("Inserting data in Menus table.")
# Populate MenuItems table
cursor.execute(insert_menu)
print("Total number of rows in Menu table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Employees table.")
# Populate Orders table
cursor.execute(insert_employees)
print("Total number of rows in Employees table: ", cursor.rowcount)
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table:  17
Inserting data in Menus table.
Total number of rows in Menu table:  12
Inserting data in Bookings table.
Total number of rows in Bookings table:  6
Inserting data in Orders table.
Total number of rows in Orders table:  5
Inserting data in Employees table.
Total number of rows in Employees table:  6

# Implement and query stored procedures

In [6]:
# Set little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
connection.database

'little_lemon'

## Task 1: Establish a connection 

Step one: Import **MySQLConnectionPool**

Step two: Import **Error**

Step three: Create a pool named **pool_a** with two connections. Use a **try-except** block to handle any possible errors.

Step four: Obtain a connection from pool_a and create a cursor object to communicate with the database.

In [7]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [8]:
dbconfig = {
    "database":"little_lemon",
    "user" : "sqltools",
    "password" : "sqltools"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_a",
                           pool_size = 2,
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

In [9]:
connection = pool.get_connection()
cursor = connection.cursor()

## Task 2: Implement a stored procedure called PeakHours

Step one: Write a SQL **CREATE PROCEDURE** query for **PeakHours**

* Use **HOUR** to extract the hour part from the **BookingSlot**.

* Use **COUNT** on hour to count the number of bookings.

* Use **GROUP BY** on booking hour.

* Use **ORDER BY** on the number of bookings in descending order.

Step two: Run the stored procedure query by invoking execute module on the **cursor**.

Step three: Invoke **callproc** to call the stored procedure.

Step four: Fetch the results in a variable called **dataset**.

Step five: Extract the names of the columns.

Step six: Print the names of the columns.

Step seven: Print the sorted data using for loop.

In [10]:
cursor.execute('DROP PROCEDURE IF EXISTS PeakHours')

peak_query = ''' CREATE PROCEDURE PeakHours()
BEGIN
SELECT COUNT(HOUR(BookingSlot)) AS NofBookings, HOUR(BookingSlot) AS Hours
FROM Bookings
GROUP BY Hours
ORDER BY NofBookings;

END
'''

cursor.execute(peak_query)
cursor.callproc('PeakHours')

results = next(cursor.stored_results())
dataset = results.fetchall()

print(results.column_names)
for result in dataset:
    print(result)

('NofBookings', 'Hours')
(1, 15)
(1, 17)
(1, 18)
(1, 20)
(2, 19)

## Task 3: Implement a stored procedure GuestStatus

Step one: Write a SQL CREATE PROCEDURE query for **GuestStatus**.

Step two: Combine the guest’s first and last name from the booking column using **CONCAT**. 

Step three: Use **CASE** to implement the following statuses for each guest’s order:

* If the **Role** in the Employee table is **Manager or Assistant Manager** then the guest’s order status is **Ready to pay**

* If the **Role** in the Employee table is **Head Chef** then the status is **Ready to serve**

* If the **Role** in the Employee table is **Assistant Chef** then the status is **Preparing Order**

* If the **Role** in the Employee table is **Head Waiter** then the status is **Order served**

Step four: **LEFT JOIN** Bookings table with Employees **ON EmployeeID**

Step five: Run the stored procedure query by invoking execute module on the **cursor.**

Step six: Invoke **callproc** to call the stored procedure.

Step seven: Fetch the results in a variable called dataset.

Step eight: Extract the names of the columns.

Step nine: Print the names of the columns.

Step ten: Print the sorted data using for loop.

Step eleven: Close the connection to return it back to the pool.

In [11]:
cursor.execute('DROP PROCEDURE IF EXISTS GuestStatus')

guest_query = ''' CREATE PROCEDURE GuestStatus()
BEGIN
SELECT CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS GuestName,
CASE
WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to Pay'
WHEN Employees.Role IN ('Head Chef') THEN 'Ready to Serve'
WHEN Employees.Role IN ('Assistant Chef') THEN 'Preparing Order'
ELSE 'Order Served'
END AS Status
FROM Bookings
JOIN Employees 
ON Employees.EmployeeID = Bookings.EmployeeID;

END
'''

cursor.execute(guest_query)
cursor.callproc('GuestStatus')

results = next(cursor.stored_results())
dataset = results.fetchall()

print(results.column_names)
for result in dataset:
    print(result)

('GuestName', 'Status')
('Anna Iversen', 'Ready to Pay')
('Joakim Iversen', 'Ready to Pay')
('Vanessa McCarthy', 'Ready to Serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to Pay')
('Diana Pinto', 'Order Served')

In [12]:
# Let's close the cursor and the connection
cursor.close()
connection.close()

# Little Lemon analysis and sales report

## Task 1:

Complete the following steps to establish a connection pool:

* To create a connection pool, import **MySQLConnectionPool** class from MySQL Connector/Python.

* To find the information on the **error**, import the Error class from MySQL Connector/Python.

* Define your database configurations as a Python dictionary object called **dbconfig**.

* Establish a connection pool **[pool_name = pool_b]** with two connections. 

* Implement error handling using a **try-except** block in case the connection fails.

In [13]:
import mysql.connector as connector
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [14]:
# Establish connection between Python and MySQL database via connector API
connection = connector.connect(
                             user="sqltools", # use your own
                             password="sqltools" # use your own
                             )
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

In [15]:
# Set little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
connection.database

'little_lemon'

In [16]:
dbconfig = {
    "database":"little_lemon",
    "user" : "sqltools",
    "password" : "sqltools"
}

try:
    pool = MySQLConnectionPool(pool_name = "pool_b",
                           pool_size = 2,
                           **dbconfig)
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

## Task 2:

Three guests are trying to book dinner slots simultaneously. Get the connections from **pool_b** and insert the following data in the **Bookings** table:


TIP: You need to add a connection to connect the third guest.


Guest 1:

* Table Number: 8

* First Name: Anees

* Last Name: Java

* Booking Time: 18:00

* EmployeeID: 6


Guest 2:

* Table Number: 5

* First Name: Bald

* Last Name: Vin

* Booking Time: 19:00

* EmployeeID: 6


Guest 3:

* Table Number: 12

* First Name: Jay

* Last Name: Kon

* Booking Time: 19:30 

* EmployeeID: 6


Return all the connections back to the pool. 


**TIP**: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a **PoolError**. Use **try-except** to print the error message.

In [17]:
update_query = ''' 
INSERT INTO Bookings (TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES 
(8, 'Anees', 'Java', '18:00:00', 6),
(5, 'Bald', 'Vin', '19:00:00', 6),
(12, 'Jay', 'kon', '19:30:00', 6)
'''

guests = ["Anees", "Bald", "Jay"]

for i, guest in enumerate(guests):
    if i <= 1:
        guest_conn = pool.get_connection()
        print("{} is connected.\n".format(guest))
        cursor = guest_conn.cursor()
        
        print("Inserting data in Bookings table.")
        # Populate Bookings table
        cursor.execute(update_query)
        connection.commit()
        
    else:
        print("Adding new connection in the pool.")
        
        # Create a connection
        connection = connector.connect(user="sqltools",password="sqltools")
        # Add the connection into the pool
        pool.add_connection(cnx=connection)
        print("A new connection is added to the pool.\n")
        
        user_conn2 = pool.get_connection()
        print("{} is connected.\n".format(guest))
        

        cursor = user_conn2.cursor()
        
        print("Inserting data in Bookings table.\n")
        # Populate Bookings table
        cursor.execute(update_query)
        connection.commit()

# Put the connection back to the pool    
print("\nReturning the connection back to the pool.")
try:
    guest_conn.close()
    print("Connection is returned to the pool")
except Error as er:
    print("\nConnection can't be returned to the pool")
    print("Error message:", er.msg)

Anees is connected.

Inserting data in Bookings table.
Bald is connected.

Inserting data in Bookings table.
Adding new connection in the pool.
A new connection is added to the pool.

Jay is connected.

Inserting data in Bookings table.


Returning the connection back to the pool.
Connection is returned to the pool

## Task 3:

Create a report containing the following information:

* The name and **EmployeeID** of the Little Lemon manager.

* The name and role of the employee who receives the highest salary.

* The number of guests booked between 18:00 and 20:00.

* The full name and **BookingID** of all guests waiting to be seated with the receptionist in sorted order with respect to their **BookingSlot**.

In [18]:
# Establish connection between Python and MySQL database via connector API
connection = connector.connect(
                             user="sqltools", # use your own
                             password="sqltools" # use your own
                             )
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

In [19]:
# Set little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
connection.database

'little_lemon'

In [20]:
# The name and EmployeeID of the Little Lemon manager.
manager = ''' 
SELECT EmployeeID, Name
FROM Employees 
WHERE Role = "Manager"'''

cursor.execute(manager)
print(cursor.column_names)

for manager in cursor.fetchall():
    print(manager)

('EmployeeID', 'Name')
(1, 'Mario Gollini')

In [21]:
# The name and role of the employee who receives the highest salary.
salary = ''' 
SELECT Name, Role
FROM Employees 
WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM Employees)
'''

cursor.execute(salary)
print(cursor.column_names)

for salary in cursor.fetchall():
    print(salary)

('Name', 'Role')
('Mario Gollini', 'Manager')

In [22]:
# The number of guests booked between 18:00 and 20:00.
guests = ''' 
SELECT COUNT(GuestFirstName) AS NofGuests
FROM Bookings 
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00'
'''

cursor.execute(guests)

for guest in cursor.fetchall():
    print('The number of guests booked between 18:00 and 20:00 are: ',guest)

The number of guests booked between 18:00 and 20:00 are:  (7,)

In [23]:
# The full name and BookingID of all guests waiting to be seated with 
# the receptionist in sorted order with respect to their BookingSlot.

reception = '''
SELECT Bookings.BookingID, CONCAT(GuestFirstName, ' ', GuestLastName)
FROM Bookings
JOIN Employees 
ON Bookings.EmployeeID = Employees.EmployeeID
WHERE Role = "Receptionist"
ORDER BY BookingSlot DESC'''

cursor.execute(reception)
print('The following guests are in the reception ->')

for guest in cursor.fetchall():
    print(guest)

The following guests are in the reception ->
(15, 'Jay kon')
(14, 'Bald Vin')
(13, 'Anees Java')

## Task 4:

Create a stored procedure called BasicSalesReport that returns the following statistics. 

* Total sales

* Average sale

* Minimum bill paid

* Maximum bill paid

In [24]:
cursor.execute('DROP PROCEDURE IF EXISTS BasicSalesReport')
proc_query = '''
CREATE PROCEDURE BasicSalesReport()
BEGIN
SELECT SUM(BillAmount) AS Total_sale, AVG(BillAmount) AS Average_sale, 
MIN(BillAmount) AS Minimum_bill, MAX(BillAmount) AS Maximum_bill
FROM Orders;
END'''

cursor.execute(proc_query)

cursor.callproc('BasicSalesReport')

results = next(cursor.stored_results())
dataset = results.fetchall()

col = results.column_names

for result in dataset:
    print(col[0], ":", result[0])
    print(col[1], ":", result[1])
    print(col[2], ":", result[2])
    print(col[3], ":", result[3])

Total_sale : 243
Average_sale : 48.6000
Minimum_bill : 37
Maximum_bill : 86

## Task 5:       

Little Lemon needs to display the next three upcoming bookings from the **Bookings** table on the kitchen screen to notify their chefs that the orders are due. 

Get a connection from the pool.

Create a buffered cursor.

Combine the data from the Bookings and the Employee tables, sort the retrieved records in ascending order, and display the information of the first three guests. 

Return the connection back to the pool.

The output should be as follows:

**[BookingSlot]**

**[Guest_name]**

**[Assigned to: Employee Name [Employee Role]]**

In [25]:
guest_conn = pool.get_connection()
cursor = guest_conn.cursor(buffered=True)

display = '''
SELECT BookingSlot, CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName, Name, Role
FROM Bookings
JOIN Employees 
ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY BookingSlot
LIMIT 3'''

cursor.execute(display)

for guest in cursor.fetchall():
    print('Booking Slot: ', guest[0])
    print('Guest Name: ', guest[1])
    print('Assigned to: {} [{}]\n'.format(guest[2], guest[3]))

Booking Slot:  15:00:00
Guest Name:  Vanessa McCarthy
Assigned to: Giorgos Dioudis [Head Chef]

Booking Slot:  17:30:00
Guest Name:  Marcos Romero
Assigned to: Fatma Kaya [Assistant Chef]

Booking Slot:  18:00:00
Guest Name:  Anees Java
Assigned to: John Millar [Receptionist]